body {
    background-color: #5286c1;
}

#blau {
    width: 875px;
    height: 27px;
    background-color: #4371a3;
    display: flex;
    flex-wrap: nowrap;
}

#hellblau {
    display: flex;
    justify-content: space-between;
    width: 875px;
    height: 70px;
    background-color: #5286c1;
}

#ul {
    display: flex;
    width: 875px;
}

.ul li {
    left: 76px;
}

.Anfang a {
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 27px;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

.li {
    display: inline-block;
    unicode-bidi: isolate;
    width: 76px;
}

a:hover {

    text-decoration: underline;
}

.Anfang li {

    flex: 0 0 auto;
    display: inline-block;

}

#ORF Bild {
    position: relative;
    width: 150px;
    height: auto;
}

#blau2 {
    position: relative;

    width: 875px;
    height: 30px;
    background-color: #4371a3;
}

#Glocke {
    position: relative;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: flex-end;
    /* align-self: flex-end;  */
    /* left: 875px; */
    left: 845px;
}

#ORF {
    left: 30px;
}

#bild1 {
    margin-bottom: 20px;
    left: 56px;
}

#weiß {
    position: relative;
    width: 875px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

summary:hover {
    text-decoration: underline;
}

p {
    color: #000000;
}

#erstes {
    text-decoration: none;
    color: #466199;
    font-size: 15px;
}

#zweites {
    text-decoration: none;
    color: #466199;
    font-size: 15px;
}

#drittes {
    text-decoration: none;
    color: #466199;
    font-size: 15px;
}

#viertes {
    text-decoration: none;
    color: #466199;
    font-size: 15px;
}

#fünftes {
    text-decoration: none;
    color: #466199;
    font-size: 15px;
}

summary {

    list-style: none;
}


summary {
    font-size: 15px;
    cursor: pointer;
}

#dunkelblau {
    position: relative;
    width: 875px;
    height: 30px;
    background-color: #12375c;
}

.bilder-box {
    position: absolute;
}

.bild1 {
    position: absolute;
    height: 133px;
    width: 347px;
}

.bilder-box {
    position: relative;
    height: 271px;
    width: 875px;
}

.bild2 {
    position: absolute;
    height: 133px;
    width: 171px;
    top: 138px;
}

.bild3 {
    position: absolute;
    height: 133px;
    width: 347px;
    left: 175px;
}

.bild5 {
    position: absolute;
    height: 133px;
    top: 138px;
    left: 175px;
}

.Bildfeuer {
    position: absolute;
    top: 0px;
    left: 704px;
}

.bild6 {
    position: absolute;
    top: 138px;
    left: 350px;
}

.Bild7 {
    position: absolute;
    left: 527px;
}